html
{
	position:relative;min-height:100%
}

html {
  margin: 0;
  padding: 0;
}

.footer
{
	position:absolute;
	bottom:0;
	width:100%;

	background-color:#222
}

.footer>.container
{
	padding-right:15px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left:15px
}
code
{
	font-size:80%
}

body
{
	margin-bottom:100px;
	margin-top:5em;
	background:#F5F5F5;
	color:#515F6F!important
}

h1
{
	color:purple
}

.footerimage{
	width:10%;
}

#homeimg1,#homeimg2,#homeimg3,#homeimg4
{
	width:60%;
	border:10px solid #222
}

#homeimg1:hover,#homeimg2:hover,#homeimg3:hover,#homeimg4:hover
{
	width:60%;
	border:0px solid #222
}

@media screen and (min-width: 0px) and (max-width: 775px) {
  #hide_if_mobile { display: none; } 
  #show_if_mobile { display: block; }  
  .container{ width: 100%;}  
  .index_container{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	} 
}

@media screen and (min-width: 0px) and (max-width: 1350px) {
  #hide_if_medium { display: none; } 
}

@media screen and (min-width: 776px) {
  #hide_if_mobile { display: block; }
  #show_if_mobile { display: none; }
  .container{width: 80%;}
  .index_container{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
}


.icons { color: #fff }

.icons:visited {
    color: #fff;
}
.icons:hover {
    color: purple;
}

.navbar-fixed-top{
	padding: 0.5em;
}

.title{
	text-decoration : none; 
	font-size: 1.75em; 
	color: #F5F5F5;
}

.navbar-nav{
	float:right;
}




a{
	color: purple;
}

.profile_picture{
	float:right;
	width:20%;
	min-width: 150px;
	margin-left: 2em;
}

.justify{
	text-align: justify;
}

.profile_picture_mobile{
	width:20%; 
	min-width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption{
	font-style: italic; 
	margin: 0 4em 0 4em;
}

figure { width: 100%; text-align: center; margin: 1em 0 1em 0; }
figure>img { max-width: 750px; width: 100%; text-align: center; margin: 1em 0 1em 0; }