html
{
	position:relative;min-height:100%
}

html {
  margin: 0;
  padding: 0;
}

.footer
{
	position:absolute;
	bottom:0;
	width:100%;

	background-color:#222
}

.footer>.container
{
	padding-right:15px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left:15px
}
code
{
	font-size:80%
}

body
{
	margin-bottom:100px;
	margin-top:5em;
	background:#F5F5F5;
	color:#515F6F!important
}

h1
{
	color:purple
}

.footerimage{
	width:10%;
}

#homeimg1,#homeimg2,#homeimg3,#homeimg4
{
	width:60%;
	border:10px solid #222
}

#homeimg1:hover,#homeimg2:hover,#homeimg3:hover,#homeimg4:hover
{
	width:60%;
	border:0px solid #222
}

@media screen and (min-width: 0px) and (max-width: 775px) {
  #hide_if_mobile { display: none; }    
}

@media screen and (min-width: 0px) and (max-width: 775px) {
  #show_if_mobile { display: block; }   
}

@media screen and (min-width: 776px) {
  #hide_if_mobile { display: block; }
}

@media screen and (min-width: 776px) {
  #show_if_mobile { display: none; }
}

.icons { color: #fff }

.icons:hover {
    color: purple;
}

